
body {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#cash {
  color: green;
}

#hitPoints {
  color: red;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: #ffffff;
  height: 1px;
}

@font-face {
  font-family: adrip1;
  src: url(adrip1.ttf)
}

#wordOfGod {
  color: rgb(53, 188, 221);
  font-family: adrip1;
  font-size: 30pt;
}